# Ignore finder files
.DS_store

# Ignore cache folder
*.cache/

# Ignore cursor rules folder
.cursor/rules/

# Ignore virtual environment folder
.venv/

# Ignore platformio
.pio/
.vscode/
compile_commands.json

# Ignore documents folder
documentation/

# Ignore nested Himax firmware
Himax_gv2_esp32

#Ignore jpeg
*.jpg
*.jpeg

## Himax firmware

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app



