# Ignore finder files
.DS_store

# Ignore cursor rules folder
.cursor/rules/

# Ignore virtual environment folder
.venv/

# Ignore platformio
.pio/
.vscode/

# Ignore documents folder
documentation/
Himax kopie/

#Ignore jpeg
*.jpg
*.jpeg
